.welcome{
  &__content {
    @include flex(center,flex-start);

    
  }

  &__info,&__img{
    width: 50%;
    height: 100%;
  }

  &__info{
    @include flex(flex-start,flex-end);
    &__content {
      padding-left: 5rem;
      .description{
        font-size: 1rem;

      }


      .btns{
        padding-top: 1rem;
      }

      .btns > * ~* {
        margin-left: 1rem;
      }
    }

  }





  &__img{
    @include flex(flex-end,flex-start);
    &__slide{
      height: 550px;
      width: 560px;
      overflow: hidden;
      
    }
  }
}